<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLJqr9N52WjjrUeQjkfMgdJLf4ctiXwRk</string>
	<key>GCM_SENDER_ID</key>
	<string>294029544124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brownGrowApp</string>
	<key>PROJECT_ID</key>
	<string>brownapp-9c68c</string>
	<key>STORAGE_BUCKET</key>
	<string>brownapp-9c68c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294029544124:ios:78898533dcf7f1e62b5eb9</string>
</dict>
</plist>